<!DOCTYPE html>
{% load static %}
<html lang="en">    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=0.1">
        <link rel="stylesheet" href="{% static 'show.css' %}">
        <title>Show</title>
        <style>
            
        </style>
    </head>
    <body>
        <u><a href="/navbar"style="color:black">Back</a></u>
        
        
        
        <br/>
        <br/>
        <div id='head'>
        <center>Show All Project Data</center>
        </div>
            <br/>
            <br/>
        <div id="SecondDiv">
            
        </div>
        <div id="OneDiv">
            <table  cellspacing='10' cellpadding="6" width='90%' color='Red' >
                <tr >
                    <td>ID</td>
                    
                    <td style="font-size: 30px;">Division</td>
                    <td style="font-size: 30px;">Category</td>
                   <td style="font-size: 30px;">Priority</td>
                    <td style="font-size: 30px;">Department</td>
                    <td style="font-size: 30px;">Status</td>
                    <td style="font-size: 30px;">Edit</td>
                    <td style="font-size: 30px;">Delete</td>
                    
                </tr>
                {% for d in data %}
                    <tr>
                        <td style="font-size: 25px;">{{d.ID}}</td>
                        
                        <td style="font-size: 25px;">{{d.Division}}</td>
                        <td style="font-size: 25px;">{{d.Category}}</td>
                        <td style="font-size: 25px;">{{d.Priority}}</td>
                        <td style="font-size: 25px;">{{d.Department}}</td>
                        <td style="font-size: 25px;">{{d.Status}}</td>
                        <td style="font-size: 25px;">
                            <u><a href="/edit?ID={{d.ID}} "style="color:black">Edit</a></u>
                        </td>
                            <td>
                            <u><a href="/delete?ID={{d.ID}}" style="color:black">Delete</a></u>
                        </td>
                        
                    </tr>
                {% endfor %}
                {% for d2 in data2 %}
                    <tr>
                        
                        <td style="font-size: 30px;">{{d2.uname}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </form >

    </body>
</html>